{#
/**
 * @file
 * Default theme implementation for a details element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the details element.
 * - errors: (optional) Any errors for this details element, may not be set.
 * - title: (optional) The title of the element, may not be set.
 * - description: (optional) The description of the element, may not be set.
 * - children: (optional) The children of the element, may not be set.
 * - value: (optional) The value of the element, may not be set.
 *
 * @see template_preprocess_details()
 *
 * @ingroup themeable
 */
#}
{%
  set card_classes = [
	'card mb-4',
  ]
%}
<div{{ attributes.addClass(card_classes) }}>
  {%
    set summary_classes = [
      required ? 'js-form-required',
      required ? 'form-required',
	  'card-header collapsed',
    ]
  %}
  {%- if title -%}
    <h6{{ summary_attributes.addClass(summary_classes) }} data-toggle="collapse" data-target="#collapsed"><i class="fa fa-chevron-down pull-right"></i>{{ title }}</h6>
  {%- endif -%}
	<div id="collapsed" class="card-body collapse">
  {% if errors %}
    <div class="invalid-feedback">
      {{ errors }}
    </div>
  {% endif %}

  {{ description }}
  {{ children }}
  {{ value }}
  </div>
</div>
